header {
    background-color: rgba(58, 50, 156, 0.13);
    text-align: center;
    }
    #fon{
    background-color: #56a85d85;
    }
    .slick-arrow {
      background-color: rgba(0, 0, 0, 0.50) !important;
      width: 50px !important;
      height: 50px !important;
      border: 5px rgba(44, 15, 15, 0.5) solid;
      border-radius: 25px;
      margin-left: 0px;
      margin-right: 0px;
      z-index: 2000;
    }
    
    .ss3 {
    background-color: #B3C2F2;
    font-size: 20px;
    border-radius: 5px;
    }
    footer {
    text-align: center;
    background-color:rgba(58, 50, 156, 0.13);
    height: 90px;
    font-size: 20px;
    }
